* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: blue;
    margin-top: 90px;
}

.titulo h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    margin-bottom: 50px;
}

.area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
    width: 80%;
    max-width: 1200px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.area img {
    width: 30%;
    height: auto;
    border-right: 1px solid #e0e0e0;
}

.text-content {
    padding: 20px;
    flex: 1;
}

.text-content h4 {
    color: #8b0000; /* Color del título pequeño */
    margin: 0;
    font-size: 1.2em;
}

.text-content h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.text-content p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
}

