* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: blue;
    margin-top: 90px;
}

.titulo h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
}


.galeria {
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
}

.galeria h3 {
    font-size: 2.5rem;
    margin: 20px 0;
    text-align: center;
    color: #333;
}

.galeriaOrden, .videoOrden {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.galeriaOrden .columna, .videoOrden .columna {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeriaOrden img, .videoOrden video {
    width: 100%;
    max-width: 400px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeriaOrden img:hover, .videoOrden video:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1250px) {
    .galeriaOrden, .videoOrden {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 858px) {
    .galeriaOrden, .videoOrden {
        grid-template-columns: 1fr;
    }

    .galeria h3, .videoOrden h3 {
        font-size: 2rem;
    }
}