* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: blue;
    margin-top: 90px;
}

.titulo h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.texto {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    color: #7a7a7a;
    font-weight: bold;
    margin-bottom: 50px;
}

.columna1 {
    justify-self: center;
}

.fila1 {
    text-align: center;
    justify-self: center;
    width: 50%;
    margin-top: 20px;
}

.fila1 h2{
    margin-bottom: 10px;
}

.fila2 {
    text-align: center;
    justify-self: center;
    width: 50%;
    margin-top: 20px;
}


.practicas-banner {
    width: 800px;
    height: 239px;
    display: block;
    margin: 0 auto; 
}

