* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: blue;
    margin-top: 90px;
}

.titulo h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.texto{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 60px;
    width: 100%;
    color: #7a7a7a;
    font-weight: bold;
    margin-bottom: 50px;
}

.texto div{
    margin-top: 15px;
    margin-left: 25px;
}

.fondo{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: blue;
    border-radius: 25px;
}

.fondo img{
    width: auto;
    height: auto;
}


.columna2{
    padding-top: 10px;
}

.columna2 h3{
    font-size: 20px;
    color:black;
}


.botonFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: blue;
    border-radius: 25px;
}

.botonFormulario:hover{
    background-color: #000000;
}

.botonFormulario img{
    width: 20px;
    height: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.botonFormulario a{
    color: white;
}

.botonBaixa{
    display: flex;
    align-items: center;
    width: 140px;
    height: 50px;
    background-color: blue;
    border-radius: 25px;
    padding-left: 15px;
}

.botonBaixa:hover{
    background-color: #000000;
}

.botonBaixa img{
    width: 20px;
    height: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.botonBaixa a{
    color: white;
}
